[Unit]
Description=i_never_bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/games/i_never_bot
ExecStart=/usr/bin/python3 /root/games/i_never_bot/i_never_bot.py
Restart=always

[Install]
WantedBy=multi-user.target
